<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767461045695-dv4d42adn0artojhnnp2u2dur2g3uh8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767461045695-dv4d42adn0artojhnnp2u2dur2g3uh8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCC5QndSJS-FteqfgeLCB0gIGnr3Q0f7zk</string>
	<key>GCM_SENDER_ID</key>
	<string>767461045695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sum.Mousaverse</string>
	<key>PROJECT_ID</key>
	<string>mousaversemusic</string>
	<key>STORAGE_BUCKET</key>
	<string>mousaversemusic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767461045695:ios:0394349c44d72655e69d0a</string>
	<key>DATABASE_URL</key>
	<string>https://mousaversemusic-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>